/** Cabeçalho **/

#headerArea {
    background-color: #f7b600;
    text-align: center;
    padding: 15px;
}

#logoArea {
    font-size: 2.5em;
    color: #4e4e4e;
    font-weight: bold;
}

.white {
    color: #fff;
}

#menuArea, #logoArea {
    padding: 10px;
}

a {
    font-weight: bold;
    text-decoration: none;
}

a:link, a:visited {
    color: #fff;
    padding: 8px 12px;
   
}

a:hover {
    color: #f7b600;
    background-color: #fff;
}

